.Card{
    padding-top: 21px;
    padding-bottom: 18px;
    display: flex;
    gap: 19px;
    align-items: center;
    align-self: center;
}
.Card--image{
    max-width: 125px;
    min-height: 168px;
    border-radius: 5px;
}
.Card div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Card div div{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 4px;
    max-width: 326px;
}
.Card div div img{
    align-self: center;
}
.Card div div u{
    margin-left: 8px;
    font-size: 10px;
    color: #918E9B;
    align-self: flex-end;
}
.Card div div p{
    font-size: 10px;
    font-weight: 400;
    color: #2B283A;
}
.Card div div img{
    width: 7px;
    height: 9px;
}
.Card div h2{
    margin-top: 7px;
}
.Card div strong{
    margin-top: 15px;
}
.Card div p{
    margin-top: 9px;
    font-size: 10px;
    color: #2B283A
}
